'.source.js':
  'HR Assessment Helpers':
    'prefix': 'mintaser'
    'body': '''
    // _.each, _.reduce, _.isEqual, _.describe, _.test
    var _={};_.each=function(e,o){if(Array.isArray(e))for(var n=0;n<e.length;n++)o(e[n],n,e);else if("object"==typeof e)for(var t in e)o(e[t],t,e)},_.reduce=function(e,o,n){var t=void 0===n;return _.each(e,function(e,c){t?(n=e,t=!1):n=o(n,e,c)}),n},_.isEqual=function(e,o){return typeof e!=typeof o?!1:"object"!=typeof e?e===o:e.length!==o.length?!1:_.reduce(e,function(n,t,c){return"object"==typeof t?n&&_.isEqual(e[c],o[c]):n&&e[c]===o[c]},!0)},_.describe=function(e,o){console.log("=============================="),console.log(e),console.log(o)},_.test=function(e,o,n){_.isEqual(e,n)?console.log("PASS: ",e):console.log("FAIL: actual: ",e," || expected: ",n)};
    '''
